
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Career</title>
</head>
<body>
    <h1>Career View from Extra() action Method.</h1>
</body>
</html>
