<footer class="border-top footer text-muted text-center">
    <div class="container">
        Copyright &copy; Bookstore @DateTime.Now.Year by Shashwat Prakash
        <custom-email my-email="kumar.prince502@gmail.com"></custom-email>
    </div>
</footer>