<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/Site.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <title>Bookstore Web Application</title>
</head>
<body>
    <div>
        <main role="main">
                @RenderBody()
        </main>
    </div>
</body>
</html>
