
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactUs</title>
</head>
<body>
    <h1>Contact us: 9066740766</h1>
</body>
</html>
